
.depicter-revert.depicter-15 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-15-element-17{
	box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.1);
	background-color:#1E1E1E;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-15-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-15-element-17:not(.depicter-hover-off):hover {
	background-color:#FA8702;
}
.depicter-15-element-17 .depicter-arrow-icon{
	fill:#FFFFFF;
	transition:all ease 0.3s;
}
.depicter-15-element-17:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#1E1E1E;
}
.depicter-revert .depicter-15-element-184{
	background-color:#000000;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-15-element-184:not(.depicter-hover-off):hover {
	background-color:#FA8702;
}
.depicter-15-element-184 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-15-element-184:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-15-element-207{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-205{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-204{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-135{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-132{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-15-element-77{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-25{
	padding:9px 16px 9px 16px;
	font-size:20px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.1);
	background-color:#EF8B15;
	border-radius:5px;
}
.depicter-revert .depicter-15-element-25:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-15-element-25:not(.depicter-hover-off):hover {
	color:#ffffff;
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-22{
	border-radius:20px;
}
.depicter-revert .depicter-15-element-9{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-86{
	background-image:linear-gradient(45deg, #FE8C00 0%, #E6BA87 34%, #F28009 43%, #F83600 100%);
}
.depicter-revert .depicter-15-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-186{
	font-size:20px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-136{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-76{
	font-size:60px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-53{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-51{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-50{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-33{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-28{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-85{
	background-image:linear-gradient(45deg, #FE8C00 0%, #E6BA87 34%, #F28009 43%, #F83600 100%);
}
.depicter-revert .depicter-15-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-187{
	font-size:20px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-150{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-147{
	font-size:60px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-146{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-144{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-143{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-142{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-140{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-148{
	background-image:linear-gradient(45deg, #FE8C00 0%, #E6BA87 34%, #F28009 43%, #F83600 100%);
}
.depicter-revert .depicter-15-section-139 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-189{
	font-size:20px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-185{
	padding:9px 16px 9px 16px;
	font-size:20px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.1);
	background-color:#EF8B15;
	border-radius:5px;
}
.depicter-revert .depicter-15-element-185:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-15-element-185:not(.depicter-hover-off):hover {
	color:#ffffff;
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-138{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-71{
	font-size:70px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-67{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-65{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-48{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-44{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-68{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-88{
	background-image:linear-gradient(45deg, #FE8C00 0%, #E6BA87 34%, #F28009 43%, #F83600 100%);
}
.depicter-revert .depicter-15-section-42 .depicter-section-background{
	background-color:rgba(255, 255, 255, 0.91);
}
.depicter-revert .depicter-15-element-202{
	font-size:20px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-201{
	padding:9px 16px 9px 16px;
	font-size:20px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.1);
	background-color:#EF8B15;
	border-radius:5px;
}
.depicter-revert .depicter-15-element-201:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-15-element-201:not(.depicter-hover-off):hover {
	color:#ffffff;
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-200{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-198{
	font-size:70px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-196{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-194{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-193{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-192{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-197{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-199{
	background-image:linear-gradient(45deg, #FE8C00 0%, #E6BA87 34%, #F28009 43%, #F83600 100%);
}
.depicter-revert .depicter-15-section-191 .depicter-section-background{
	background-color:rgba(255, 255, 255, 0.91);
}
.depicter-revert .depicter-15-element-109{
	font-size:20px;
	color:#484848;
	font-family:"eicons";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-108{
	font-size:70px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-106{
	font-size:13px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-104{
	font-size:20px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-102{
	border-radius:40px;
}
.depicter-revert .depicter-15-element-101{
	padding:9px 16px 9px 16px;
	font-size:20px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:400;
	text-transform:capitalize;
	box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.1);
	background-color:#A0DA47;
	border-radius:5px;
}
.depicter-revert .depicter-15-element-101:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-15-element-101:not(.depicter-hover-off):hover {
	color:#ffffff;
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-100{
	transform:rotate(24deg);
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#232323;
	border-radius:500px;
}
.depicter-revert .depicter-15-element-107{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-110{
	background-image:linear-gradient(0deg, #2FA797 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-99 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-15-element-17{
	background-color:#1E1E1E;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
}
.depicter-15-element-17 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-15-element-184{
	background-color:#000000;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
}
.depicter-15-element-184 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-15-element-205{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-204{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-77{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-25{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-9{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-86{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-186{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-76{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-53{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-51{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-50{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-28{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-85{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-187{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
}
.depicter-revert .depicter-15-element-147{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-146{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-144{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-143{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-140{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-148{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-139 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-189{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-185{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-71{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-67{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-65{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-44{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-68{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-88{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-42 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-202{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-201{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-198{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-196{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-194{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-192{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-197{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-199{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-191 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-109{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-108{
	font-size:50px;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-106{
	font-size:11px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-104{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-101{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-100{
	transform:rotate(24deg);
}
.depicter-revert .depicter-15-element-107{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-110{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-99 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-15-element-17{
	background-color:#1E1E1E;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
}
.depicter-15-element-17 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-15-element-184{
	background-color:#000000;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
}
.depicter-15-element-184 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-15-element-205{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-204{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-77{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-25{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-22{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-9{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-86{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-186{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-76{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
}
.depicter-revert .depicter-15-element-53{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
}
.depicter-revert .depicter-15-element-51{
	font-size:14px;
	color:#ffffff;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-50{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-33{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-28{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-85{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-26 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-187{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-147{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-146{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
}
.depicter-revert .depicter-15-element-144{
	font-size:14px;
	color:#ffffff;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-143{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-142{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-140{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-148{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-139 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-189{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-185{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-71{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-67{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
}
.depicter-revert .depicter-15-element-65{
	font-size:14px;
	color:#ffffff;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-48{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-44{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-68{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-88{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-42 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-202{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:400;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-201{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-198{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-196{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
}
.depicter-revert .depicter-15-element-194{
	font-size:14px;
	color:#ffffff;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-193{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-192{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-197{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-199{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-191 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-15-element-109{
	font-size:13px;
	color:#484848;
	font-family:"Poppins";
	font-weight:300;
	line-height:170%;
	background-color:transparent;
}
.depicter-revert .depicter-15-element-108{
	font-size:40px;
	text-align:left;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-106{
	font-size:10px;
	color:#ffffff;
	font-family:"Poppins";
	font-weight:300;
	line-height:166%;
}
.depicter-revert .depicter-15-element-104{
	font-size:14px;
	color:#ffffff;
	font-family:"Philosopher";
	font-weight:700;
	line-height:120%;
	text-transform:capitalize;
}
.depicter-revert .depicter-15-element-102{
	border-radius:15px;
}
.depicter-revert .depicter-15-element-101{
	font-size:15px;
	text-align:center;
	color:#232323;
	font-family:"Philosopher";
	font-weight:700;
	text-transform:capitalize;
	background-color:#A0DA47;
}
.depicter-revert .depicter-15-element-100{
	transform:rotate(24deg);
	background-color:transparent;
	border-color:#232323;
}
.depicter-revert .depicter-15-element-107{
	background-color:#1E1E1E;
}
.depicter-revert .depicter-15-element-110{
	background-image:linear-gradient(0deg, #26B2A0 0%, #A0DA47 100%);
}
.depicter-revert .depicter-15-section-99 .depicter-section-background{
	background-color:#FFFFFF;
}

}
