
.depicter-revert.depicter-21 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-21-element-17{
	opacity:1;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-21-element-17:not(.depicter-hover-off):hover {
	transform:scale(1);
	background-color:transparent;
}
.depicter-21-element-17 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-21-element-17:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#748FD0;
}
.depicter-revert .depicter-21-element-18{
	background-color:transparent;
}
.depicter-revert .depicter-21-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-21-element-18:not(.depicter-hover-off):hover {
	transform:scale(1);
	background-color:transparent;
}
.depicter-21-element-18 .depicter-arrow-icon{
	fill:#000000;
	transition:all ease 0.3s;
}
.depicter-21-element-18:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#748FD0;
}
.depicter-revert .depicter-21-element-11{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
	border-radius:8px;
}
.depicter-revert .depicter-21-element-11:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-21-element-11:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#222222;
}
.depicter-revert .depicter-21-element-10{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-9{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-2{
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-21-element-16{
	background-color:#F5E586;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-15{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-14{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-13{
	background-color:#02C480;
	border-radius:50px;
}
.depicter-revert .depicter-21-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-27{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
	border-radius:8px;
}
.depicter-revert .depicter-21-element-27:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-21-element-27:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#222222;
}
.depicter-revert .depicter-21-element-26{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-25{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-24{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-23{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-22{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-21{
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-21-element-32{
	background-color:#F5E586;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-31{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-30{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-29{
	background-color:#02C480;
	border-radius:50px;
}
.depicter-revert .depicter-21-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-43{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
	border-radius:8px;
}
.depicter-revert .depicter-21-element-43:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-21-element-43:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#222222;
}
.depicter-revert .depicter-21-element-42{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-41{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-40{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-39{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-38{
	border-radius:200px 200px 0px 0px;
}
.depicter-revert .depicter-21-element-37{
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-21-element-48{
	background-color:#F5E586;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-47{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-46{
	background-color:#B8ECEA;
	border-radius:50px;
}
.depicter-revert .depicter-21-element-45{
	background-color:#02C480;
	border-radius:50px;
}
.depicter-revert .depicter-21-section-36 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-21-element-17{
	background-color:transparent;
}
.depicter-21-element-17 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-21-element-18{
	background-color:transparent;
}
.depicter-21-element-18 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-21-element-11{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-revert .depicter-21-element-10{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-9{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-16{
	background-color:#F5E586;
}
.depicter-revert .depicter-21-element-15{
	background-color:#B8ECEA;
}
.depicter-revert .depicter-21-element-13{
	background-color:#02C480;
}
.depicter-revert .depicter-21-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-27{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-revert .depicter-21-element-26{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-25{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-32{
	background-color:#F5E586;
}
.depicter-revert .depicter-21-element-31{
	background-color:#B8ECEA;
}
.depicter-revert .depicter-21-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-43{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}
.depicter-revert .depicter-21-element-42{
	font-size:16px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-41{
	font-size:60px;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-48{
	background-color:#F5E586;
}
.depicter-revert .depicter-21-element-47{
	background-color:#B8ECEA;
}
.depicter-revert .depicter-21-section-36 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-21-element-17 .depicter-arrow-icon{
	fill:#000000;
}
.depicter-revert .depicter-21-element-11{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	border-width:2px;
	border-style:solid;
	border-color:#707070;
}
.depicter-revert .depicter-21-element-10{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-9{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-27{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#707070;
}
.depicter-revert .depicter-21-element-26{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-25{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-29{
	background-color:#02C480;
}
.depicter-revert .depicter-21-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-21-element-43{
	font-size:14px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#707070;
}
.depicter-revert .depicter-21-element-42{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-41{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Noto Sans";
	font-weight:600;
	line-height:120%;
	text-transform:capitalize;
	background-color:transparent;
}
.depicter-revert .depicter-21-element-46{
	background-color:#B8ECEA;
}
.depicter-revert .depicter-21-element-45{
	background-color:#02C480;
}
.depicter-revert .depicter-21-section-36 .depicter-section-background{
	background-color:#FFFFFF;
}

}
